{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#">E-Poll</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'vote'%}" >Vote<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://eci.gov.in/statistical-report/statistical-reports/">Stats</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Parties
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a target="_blank" class="dropdown-item" href="https://www.bjp.org/">BJP</a>
              <a target="_blank" class="dropdown-item" href="https://www.inc.in/">Congress</a>
              <a target="_blank" class="dropdown-item" href="https://aamaadmiparty.org/signup/">AAP</a>
              <a target="_blank" class="dropdown-item" href="https://www.bing.com/images/search?q=tmc+bengal&qpvt=tmc+bengal&FORM=IGRE">TMC</a>
              <a target="_blank" class="dropdown-item" href="https://en.wikipedia.org/wiki/Samajwadi_Party">SP</a>
              <a target="_blank" class="dropdown-item" href="https://en.wikipedia.org/wiki/Communist_Party_of_India_(Marxist)">CPIM</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item">
            <b><a class="nav-link disabled" href="#">INDIA</a></b>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="{% url 'logout'%}" class="btn btn-danger">Logout</a></div>
      </div>
    </nav>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Hello Voters!</strong> वोट दें ताकि देश प्रगति करे 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>VotingSection</title>
  </head>
  <body>

    <div class="container mt-5">
      <h2 class="text-center alert alert-info">VOTING SECTION</h2>
    </div>
    <br><br>


      <div class="row container" style="width : 100%">
        <div class="col-mb-5 col-sm-4 " style=" width : 50% ;">
          
          <div class="vote smbg">
            <a  class="text-decoration-none" href="#">
              <div class="Voting text-center">
                <img src="{% static 'app\images\appp.jpg' %}" class="img-responsive center-block " width="250" height="220" alt="">
                <p class="app">APP</p>
              </div>
            </a>
          </div>
        </div>
    
        <div class="col-mb-5 col-sm-4 " 
          style="width : 50% ;">
          <div class="vote pgbg">
            <a  class="text-decoration-none" href="#">
              <div class="Voting text-center">
                <img src="{% static 'app\images\bjpp.png' %}" class="img-responsive center-block " width="250" height="220" alt="">
                <p class="bjp">BJP</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-mb-5 col-sm-4 " 
          style=" width : 50% ;">
          <div class="vote smbg">
            <a  class="text-decoration-none" href="#">
              <div class="Voting text-center">
                <img src="{% static 'app\images\congs.png' %}" class="img-responsive center-block " width="250" height="220" alt="">
                <p class="cong">CONGRESS</p>
              </div>
            </a>
          </div>
        </div>
      </div>


      <br><br><br>

      <div class="row container" style="width : 100%">
        <div class="col-mb-5 col-sm-4 " 
          style=" width : 50% ;">
          <div class="vote smbg">
            <a  class="text-decoration-none" href="#">
              <div class="Voting text-center">
                <img src="{% static 'app\images\cpm.jpg' %}" class="img-responsive center-block " width="250" height="220" alt="">
                <p class="cpim">CPIM</p>
              </div>
            </a>
          </div>
        </div>
    
        <div class="col-mb-5 col-sm-4 " 
          style="width : 50% ;">
          <div class="vote pgbg">
            <a  class="text-decoration-none" href="#">
              <div class="Voting text-center">
                <img src="{% static 'app\images\tmc.png' %}" class="img-responsive center-block " width="250" height="220" alt="">
                <p class="tmc">TMC</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-mb-5 col-sm-4 " 
          style=" width : 50% ;">
          <div class="vote smbg">
            <a  class="text-decoration-none" href="#">
              <div class="Voting text-center">
                <img src="{% static 'app\images\notaa.png' %}" class="img-responsive center-block " width="250" height="220" alt="">
                <p class="nota">NOTA</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>



